* {
	padding: 0;
	margin: 0;
}

body,html {
	width: 100%;
	height: 100%;
}

body {
	background: gray;
	background-size: 100% 100%;
}

.register {
	margin: 150px auto;
	min-height: 320px;
	max-width: 320px;
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.7);
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
}

.message {
	text-align: center;
	width: 90%;
	background: rgba(255, 255, 255, 0);
	padding: 18px;
}

input[type=text],input[type=password] {
	border: 1px solid #DCDEE0;
	border-radius: 3px;
	height: 50px;
	padding: 0px 16px;
	font-size: 14px;
	color: #555555;
	width: 90%;
}

input[type=email] {
	border: 1px solid #DCDEE0;
	border-radius: 3px;
	height: 50px;
	padding: 0px 16px;
	font-size: 14px;
	color: #555555;
	width: 90%;
}

input[type=number] {
	border: 1px solid #DCDEE0;
	border-radius: 3px;
	height: 50px;
	padding: 0px 16px;
	font-size: 14px;
	color: #555555;
	width: 90%;
}

input[type=submit] {
	width: 100%;
	background-color: rgb(255, 193, 37);
	border-radius: 3px;
	padding: 12px 24px;
}

hr.hr15 {
	height: 15px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: none;
}